[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>
  <section>
  <div class="title" style="font-size:45px;font-weight:bold">Court Reservation System</div>

<!--    Empty Space Under Title       -->
    <div class="columns">
      <div class="column is-full">
      </div>
    </div>
<!--    End Empty Space               -->

  </section>

<!--    Buttons                         -->
  <section>
    <div class="columns">

      <div class="column is-half">
        <a class="button" href="[[=URL('addReservationPage')]]"><span>Add a Reservation</span></a>
        <div class="button">Edit a Reservation</div>
      </div>
      <div class="column is-half">
        <div class="buttons is-right">
          <button class="button">Past Reservations</button>
        </div>
      </div>
    </div>
  </section>

</div>



<!--Empty Space After Buttons-->
    <div class="columns">
      <div class="column is-full">
      </div>
    </div>



<!--    Table Begins                   -->

<div class="container block">
  <body>
    <h1 class="title" style="text-align:center">Your Reservations</h1>
  </body>


  <section>
    <table class="table is-bordered is-striped is-fullwidth is-hoverable">
      <tr>
<!-- Column Names to be displayed -->
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Court</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
<!-- Iterating through the rows -->
      <tr v-for="row in table_rows">
        <td>{{row.reservation_date}}</td>
        <td>{{row.reservation_time}}</td>
        <td>{{row.reservation_location}}</td>
        <td>{{row.reservation_court_number}}</td>
        <td><button @click="edit_reservation(row._idx)" class="button is-warning">
          <i class="fa fa-pencil"></i></button></td>
        <td><button @click="delete_reservation(row._idx)" class="button is-danger">
          <i class="fa fa-trash"></i></button></td>
      </tr>
    </table>
  </section>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->

<!--Call back to the server using these links-->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let load_reservation_table_url = "[[=XML(load_reservation_table_url)]]";
  let delete_reservation_url = "[[=XML(delete_reservation_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
